<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>测试后台</title>
	<!--<link rel="stylesheet" type="text/css" href="__STATIC__/js/layui-v2.5.6/css/layui.css">-->
	<link rel="stylesheet" href="__PUBLIC__/static/js/layui-v2.5.6/css/layui.css">
    <link rel="stylesheet" href="__PUBLIC__/static/css/common.css">

	<style>
		body {
			background:#A2FF82;
			/*background-image: linear-gradient(#ff4500,#ff8500,yellow,#A2FF82,#0085ff,#bf3eff);*/
		}
		#box {
			min-height: 600px;
			min-width: 70%;
			width:1000px;
			text-align: center;
			background: #fff;
			margin: 0 auto;
			margin-top: 20px;
			padding: 30px 50px;
		}
	</style>
</head>
<body>
	<div id="box">
		<div style="width: 100%; height: 30px; padding-top: 20px; padding-bottom: 20px; font-size: 24px;">
			用户列表
		</div>
		<div class="search_box">
			<div>
				姓名：<input type="text" name="name_search" id="name_search" placeholder="姓名使用模糊查询">
			</div>
			<div>
				电话：<input type="text" name="phone_search" id="phone_search" placeholder="电话使用精准查询">
			</div>
			<div>
				<span class="button_span" id="search">搜索</span>
			</div>
			<div style="float: right">
				<span class="button_span" id="add">添加</span>
			</div>
            <div style="float: right">
                <a class="button_span" style="width: 100px;" href="{:U('Index/info')}">个人中心</a>
            </div>
			<div style="float: right">
				<a class="button_span" style="width: 100px;" href="{:U('Home/Index/index')}">返回前台</a>
			</div>
		</div>
		<table id="content" lay-filter="data_table" width="900">

		</table>
	</div>

	<div id="add_box" class="layui-form" style="display: none; padding-top: 20px; padding-left: 10px;">
		<div class="row_box">
			<div class="left_box">
				姓名：
			</div>
			<div class="right_box">
				<input type="text" name="add_name" id="add_name" autocomplete="off">
			</div>
		</div>
		<div class="row_box">
			<div class="left_box">
				电话：
			</div>
			<div class="right_box">
				<input type="text" name="add_phone" id="add_phone" autocomplete="off">
			</div>
		</div>
		<div class="row_box">
			<div class="left_box">
				账号：
			</div>
			<div class="right_box">
				<input type="text" name="add_account" id="add_account" autocomplete="off">
			</div>
		</div>
		<div class="row_box">
			<div class="left_box">
				密码：
			</div>
			<div class="right_box">
				<input type="text" name="add_password" id="add_password" autocomplete="off">
			</div>
		</div>
	</div>

	<div id="edit_box" class="layui-form" style="display: none; padding-top: 20px; padding-left: 10px;">
		<div class="row_box">
			<div class="left_box">
				姓名：
			</div>
			<div class="right_box">
				<input type="text" name="edit_name" id="edit_name" autocomplete="off">
			</div>
		</div>
		<div class="row_box">
			<div class="left_box">
				电话：
			</div>
			<div class="right_box">
				<input type="text" name="edit_phone" id="edit_phone" autocomplete="off">
			</div>
		</div>
		<input type="hidden" name="edit_id" id="edit_id">
	</div>
</body>
</html>

<script src="__PUBLIC__/static/js/jquery-3.6.0.min.js"></script>
<script src="__PUBLIC__/static/js/layui-v2.5.6/layui.js"></script>
<script type="text/html" id="operation">
	{{#  if(d.id > 0){ }}
	<a class="file_btn" lay-event="edit_button" style="cursor:pointer">
		<span style="color: #0085ff">修改</span>
	</a>
	&nbsp;&nbsp;
	{{#  } }}

	<a class="file_btn" lay-event="delete_button" style="cursor:pointer">
		<span style="color: #0085ff">删除</span>
	</a>
</script>
<script type="text/javascript">
	layui.use(['form', 'laydate', 'table', 'layer'], function () {
        var table = layui.table,
            form = layui.form,
            layer = layui.layer,
            laydate = layui.laydate;
        //展示表格
        table.render({
            elem: '#content',
            id: 'content',
            cellMinWidth: 160,
            url: "{:U('Ajax/test')}", //数据接口
            method: 'post',
            where: {},
            page: {
                limit: 10,//默认每页几条
                groups: 10,//连续显示几页
                layout: ['count', 'limit', 'prev', 'page', 'next', 'skip'],//分页位置
                first: "首页",
                last: "尾页",
                theme: "#0085ff"
            },
            cols: [[ //表头
                {
                    field: 'id',
                    title: 'ID',
                    align: 'center',
                }, {
					field: 'account',
					title: '账号',
					align: 'center',
				}, {
                    field: 'name',
                    title: '姓名',
                    align: 'center',
                }, {
                    field: 'sex_show',
                    title: '性别',
                    align: 'center',
                }, {
                    field: 'phone',
                    title: '电话',
                    align: 'center',
                }, {
					title: '操作',
					align: 'center',
					templet: '#operation',
					// fixed: 'right'
				}
            ]]
        });
        //监听工具条
        table.on('tool(data_table)', function (obj) {
            if (obj.event === 'edit_button') {
				$('#edit_id').val(obj.data.id);
				$('#edit_name').val(obj.data.name);
				$('#edit_phone').val(obj.data.phone);
				layer.open({
					type: 1,
					content: $('#edit_box'),
					area: ['700px', '400px'],
					title: '修改用户',
					btn: ['保存', '取消'],
					btnAlign: 'r',
					btn1: function (index) {
						var id = $('#edit_id').val();
						var name = $('#edit_name').val();
						var phone = $('#edit_phone').val();
						$.ajax({
							type: 'post',
							url: "{:U('Ajax/update')}",
							data: {
								id: id,
								name: name,
								phone: phone,
							},
							dataType: "json",
							success: function (res) {
								if (res.code == 200) {
									layer.msg(res.message, {icon: 1});
									layer.close(index);
									table.reload('content',
										{
											where: {},
											page: {
												curr: 1 //重新从第 1 页开始
											}
										}
									);
								} else {
									layer.msg(res.message, {icon: 5});
								}
							}
						})
					},
					btn2: function (index) {
						layer.close(index);
					}
				})
            } else if (obj.event === 'delete_button') {
				var id = obj.data.id;
				layer.confirm(`确定要删除吗？`, {
					btn: ['确定', '取消'],
					btn1: function (index) {
						$.ajax({
							type: 'post',
							url: "{:U('Ajax/delete')}",
							data: {
								id: id,
							},
							dataType: "json",
							success: function (res) {
								if (res.code == 200) {
									layer.msg(res.message, {icon: 1}, function () {
										layer.close(index);
										table.reload('content',
											{
												where: {},
												page: {
													curr: 1 //重新从第 1 页开始
												}
											}
										);
									});
								} else {
									layer.msg(res.message, {icon: 5});
								}
							}
						})
					},
					btn2: function (index) {
						layer.close(index);
					}
				})
            }
        });
		//添加
		$("#add").click(function () {
			$('#add_name').val('');
			$('#add_phone').val('');
			$('#add_account').val('');
			$('#add_password').val('');
			layer.open({
				type: 1,
				content: $('#add_box'),
				area: ['700px', '400px'],
				title: '添加用户',
				btn: ['保存', '取消'],
				btnAlign: 'r',
				btn1: function (index) {
					var name = $('#add_name').val();
					var phone = $('#add_phone').val();
					var account = $('#add_account').val();
					var password = $('#add_password').val();
					$.ajax({
						type: 'post',
						url: "{:U('Ajax/add')}",
						data: {
							name: name,
							phone: phone,
							account: account,
							password: password,
						},
						dataType: "json",
						success: function (res) {
							if (res.code == 200) {
								layer.msg(res.message, {icon: 1});
								layer.close(index);
								table.reload('content',
									{
										where: {},
										page: {
											curr: 1 //重新从第 1 页开始
										}
									}
								);
							} else {
								layer.msg(res.message, {icon: 5});
							}
						}
					})
				},
				btn2: function (index) {
					layer.close(index);
				}
			})
		});
		//搜索
		$("#search").click(function () {
			var name = $('#name_search').val();
			var phone = $('#phone_search').val();
			table.reload('content',
				{
					where: {
						name:name,
						phone:phone,
					},
					page: {
						curr: 1 //重新从第 1 页开始
					}
				}
			);
		});
    });
</script>